.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Set three columns per row */
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.gridItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.postImage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.postImage>img{
    width: 310px;
    height: 310px;
    /* border-radius: 4px; */
}



@media (max-width: 768px) {

    .gridContainer {
        gap: 4px;
    }
    
    .postImage{
        width: 100%;
        height: 100%;
    }

    .postImage > img{
        width: 100%;
        height: 200px;
    }   
    
}

@media (max-width: 500px) {

    .gridContainer {
        gap: 4px;
        margin: 0px;
        padding: 4px;
    }
    
    .postImage{
        width: 100%;
        height: 100%;
    }
    .postImage > img{
        width: 100%;
        height: 140px;
    }
}


@media (max-width: 400px) {

    .gridContainer {
        gap: 4px;
        margin: 0px;
        padding: 4px;
    }
    
    .postImage{
        width: 100%;
        height: 80%;
    }

    .postImage > img{
        width: 100%;
        height: 120px;
    }
}