.navbar {
    background-color: #fff;
    color: #000;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;

}

.logo>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>a>img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin: 0;
    margin-left: 20px;
}

.name{
    font-size: 36px;
    font-weight: bold;
    margin-left: 12px;
}

.navLinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navLinks li {
    margin-right: 40px;
}

.navLinks a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}


@media screen and (max-width: 768px) {
    .navbarContainer {
        flex-direction: row;
    }

    .logo>a>img {
        width: 40px;
        height: 40px;
        margin-left: 16px;
    }

    .navLinks ul {
        flex-direction: row;
    }

    .navLinks li {
        margin: 12px;
    }
    .name{
    font-size: 32px;
    font-weight: bold;
    margin-left: 12px;
}
}

@media (max-width: 500px) {
    .name{
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
    }
}

@media (max-width: 400px) {
    .name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    }
}